body {
    background-color: #ddd;
}

.container {
    display: flex;
    width: 100%;
    background-color: #fff;
}

.box {
    height: 100px;
    flex: 1 1 auto; /* flex: <grow> <shrink> <basis>*/
}

.first {
    background-color: #008080;
    flex: 2 1 auto;
    order: 3;
}

.second {
    background-color: #4287f5;
}

.third {
    background-color: #42b6f5;
}