body {
    background-color: #ddd;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.box {
    height: 100px;
    width: 100px;
}

.first {
    background-color: #008080;
}

.second {
    background-color: #4287f5;
    flex-shrink: 1;
}

.third {
    background-color: #42b6f5;
}