/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* animations */
@keyframes animacao {
    from {background-color: #42f54e;}
    to {background-color: #c4ba2b;}
}

@keyframes animacao2 {
    0% {}
    30% {width: 100px;}
    60% {background-color: cadetblue;}
    80% {left: 100px; background-color: #c4382b;}
    100% {height: 100px;}
}

@keyframes animacao3 {
    from {left: 0;}
    to {left: 200px; background-color: #467565;}
}

@keyframes animacao4 {
    from {left: 0;}
    to {left: 500px;}
}

@keyframes animacao5 {
    0% {left: 0px;}
    25% {left: 20px; background-color: #3ca832;}
    60% {background-color: #db820d;}
    100% {left: 50px; background-color: #db360d;}
}
.animation-div {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    background-color: #42f54e;
    animation-name: animacao;
    animation-duration: 5s;
}

.animation-div2 {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    background-color: #5c2bc4;
    animation-name: animacao2;
    animation-duration: 6s;
    position: relative;
}

/* animation delay and iteration */
.animation-div3 {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    background-color: #2bc48f;
    position: relative;
    animation-name: animacao3;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 3;
}

/* timing function */
.box {
    background-color: rgb(241, 124, 41);
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: animacao4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#animation-div4 {
    animation-timing-function: linear;
}

#animation-div5 {
    animation-timing-function: ease;
}

#animation-div6 {
    animation-timing-function: ease-in;
}

#animation-div7 {
    animation-timing-function: ease-out;
}

#animation-div8 {
    animation-timing-function: ease-in-out;
}

/* shorthand - nome, duração, timing-function, delay, iteration */
#animation-div9 {
    background-color: #155c0f;
    width: 50px;
    height: 50px;
    position: relative;
    animation: animacao5 8s ease-out 4s infinite;
}

/* transition */
.btn {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    width: 150px;
    height: 75px;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    border: 1px solid #333;
    cursor: pointer;
    margin-left: 5px;
    transition: 1s;
}

.btn:hover {
    color: #333;
    background-color: #fff;
}

.transition {
    width: 50px;
    height: 100px;
    background-color: #db820d;
    margin-left: 5px;
    transition: 4s;
}

.transition:hover {
    width: 300px;
}
/* calc */
.div-calc {
    width: 500px;
    height: 250px;
    position: relative;
    margin: 20px;
    background-color: #ddd;
    border: 1px solid #c4382b;
}

.innerdiv-calc {
    height: 50px;
    margin: 10px;
    position: relative;
    background-color: teal;
}

.calc1 {
    width: calc(50% + 50px);
}

.calc2 {
    width: calc(50% - 50px);
}

.calc3 {
    width: calc(50% * 2);
    margin: 0;
}

.calc4 {
    width: calc(50% / 2);
}

/* gradient */
.gradient-box {
    width: 500px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.gradient1 {
    background-image: linear-gradient(purple, blue);
}

.gradient2 {
    background-image: linear-gradient(to right, purple, blue);
}

.gradient3 {
    background-image: linear-gradient(to left, purple, blue);
}

.gradient4 {
    background-image: linear-gradient(to top, purple, blue);
}

.gradient5 {
    background-image: linear-gradient(to top right, purple, blue);
}

.gradient6 {
    background-image: linear-gradient(to right, #3452eb, #5a9c76, #9d75c5);
}

.gradient7 {
    background-image: radial-gradient(#3452eb, #5a9c76, teal);
}

.gradient8 {
    background-image: radial-gradient(#3452eb 10%, #5a9c76 30%, teal);
}

.gradient9 {
    background-image: radial-gradient(circle,#3452eb, #5a9c76, teal);
}